# Ignore virtual environment
venv/
*.pyc
__pycache__/


# Ignore notebook checkpoints
notebooks/.ipynb_checkpoints/


# Ignore Jupyter notebook metadata
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

